
.low-elevation {
  box-shadow:
    0 2px 3px hsla(0, 0%, 0%, 0.12) /* Ambient light shadow */,
    0 3px 6px hsla(0, 0%, 0%, 0.14) /* Direct light shadow */;
}
.mid-elevation {
  box-shadow:
    0 4px 12px hsla(0, 0%, 0%, 0.12) /* Ambient light shadow */,
    0 14px 24px hsla(0, 0%, 0%, 0.16) /* Direct light shadow */;
}
.high-elevation {
  box-shadow:
    0 5px 12px hsla(0, 0%, 0%, 0.4) /* Ambient light shadow */,
    0 18px 32px hsla(0, 0%, 0%, 0.16) /* Direct light shadow */;
}
