*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: initial;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  line-height: 1.4;
  cursor: default;
}

body {
  min-height: 100dvh;
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

body,
h1, h2, h3, h4, h5, h6,
p, ul, ol, li, dl, dt, dd,
pre, figure, blockquote {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6,
button, input, label {
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p, li, dd {
  text-wrap: pretty;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

button, textarea, input,
datalist, datalist > option {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
}

img, picture {
  max-width: 100%;
  display: block;
}

img[width] { /* Defer to max-width */
  width: auto;
}

img[width][height] { /* Preserve aspect ratio */
  height: auto;
}

img[src$=".svg"] { /* Let SVG scale without boundaries */
  width: 100%;
  height: auto;
  max-width: none;
}

textarea:not([rows]) {
  form-sizing: normal;
  min-height: 10em;
}

:target {
  scroll-margin-block: 1rlh;
}
