:root {
  --size: 50vw;
  --color: black;
}
body {
  padding-block-start: 5vh;
  background-color: #2D305F;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 120 120'%3E%3Cpolygon fill='%231E1D49' fill-opacity='0.2' points='120 120 60 120 90 90 120 60 120 0 120 0 60 60 0 0 0 60 30 90 60 120 120 120 '/%3E%3C/svg%3E");
}
main,
#clock {
  display: grid;
  place-items: center;
}
#clock,
[id*='center'] {
  border-radius: 100%;
  aspect-ratio: 1/1;
}
#clock {
  grid-template: "clock";
  background-color: #def;
  border: 0.5em solid var(--color);
  width: clamp(10vw, var(--size), 90vh);
  max-height: 90vh;
  box-shadow:
    -1rem -1rem 5rem 1rem rgb(0 0 0 / 0.26) inset,
    0 0.1rem 0.1rem 0.5rem rgb(0 0 0 / 0.12) inset,
    0.2rem 0.25rem 0.2rem 0.4rem rgb(0 0 0 / 0.25),
    0px 1px 1px rgba(3, 7, 18, 0.02),
    0px 5px 4px rgba(3, 7, 18, 0.03),
    0px 12px 9px rgba(3, 7, 18, 0.05),
    0px 20px 15px rgba(3, 7, 18, 0.06),
    0px 32px 24px rgba(3, 7, 18, 0.08);
}
