[id*="hand"] {
  grid-area: clock;
  transform-origin: bottom center;
  border: medium solid var(--color);
  box-shadow: 0.05rem 0.1rem 0.1rem 0.1rem rgb(0 0 0 / 0.15);
  border-radius: 20%;
}
[id*='hours'] {
  height: 30%;
  transform: translate(0, -50%) rotate(var(--degH));
}
[id*='minutes'] {
  height: 43%;
  transform: translate(0, -50%) rotate(var(--degM));
}
[id*='seconds'] {
  height: 44%;
  border-width: thin;
  border-color: red;
  transform: translate(0, -50%) rotate(var(--degS));
  transition: transform 100ms cubic-bezier(0.250, 0.250, 0.665, 1.650);
}
[id*='center'] {
  height: 4%;
  grid-area: clock;
  background-color: var(--color);
  z-index: 2;
}
.top {
  transition: none;
}
