:root {
  --size: 50vw;
  --color: black;
}
body {
  background-color: #567;
  padding-top: 5vh;
}
main,
#clock {
  display: grid;
  place-items: center;
}
#clock,
[id*='center'] {
  border-radius: 100%;
  aspect-ratio: 1/1;
}
#clock {
  grid-template: "clock";
  background-color: #bcd;
  border: thick solid var(--color);
  width: clamp(10vw, var(--size), 90vh);
  box-shadow: 0 0 10rem 1rem rgb(0 0 0 / 0.25) inset;
  max-height: 90vh;
}
