.notches {
  grid-area: clock;
}
ul,
li {
  margin: 0;
  padding: 0;
}
ul {
  display: grid;
  place-items: center;
  grid-template: "notches";
  list-style: none;
  height: 95%;
  aspect-ratio: 1/1;
  opacity: 0.65;
}
ul:first-of-type {
  transform: rotate(30deg);
}
ul:last-of-type {
  transform: rotate(-30deg);
}
li {
  width: 0.5rem;
  aspect-ratio: 1/1;
  grid-area: notches;
  background-color: var(--color);
  border-radius: 100%;
}
.notches *:nth-child(1) {
  align-self: start;
}
.notches *:nth-child(2) {
  justify-self: end;
}
.notches *:nth-child(3) {
  align-self: end;
}
.notches *:nth-child(4) {
  justify-self: start;
}
